# Archivos y carpetas generados por Flutter/Dart
*.iml
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
flutter_*.log

# Archivos generados por Android
android/app/.cxx/
android/.gradle/
android/build/
android/app/build/
android/app/src/main/res/drawable-*/
android/app/src/main/res/mipmap-*/ic_launcher.png
android/app/src/main/res/values/colors.xml
android/app/src/main/res/mipmap-anydpi-v26/

# Archivos generados por iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# Archivos de configuración local
.vscode/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Archivos temporales y de sistema
*.log
*.tmp
*.bak
*.swp
.DS_Store

# Carpetas y archivos específicos del proyecto
flutter_01.png
base-js-baileys-memory/
firebase.json